<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common_head::commonHeader('index')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">

    <h2>Department Table:</h2>
    <div class="row col-md-7 table-responsive">
        <table id="customerTable" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dep: ${department}">
                <td th:text="${dep.name}">1</td>
                <td th:text="${dep.size}">Jack</td>
            </tr>
            </tbody>
        </table>
    </div>

<hr>
    <h2>Employee Table</h2>
    <div class="row col-md-7 table-responsive">
        <table id="customerTabl" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp: ${employee}">
                <td th:text="${emp.name}">1</td>
                <td th:text="${emp.age}">Jack</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

</div>
</body>
</html>
