<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common_head::commonHeader('index')">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mycss.css">
    <link rel="stylesheet" href="../static/css/signin.css">

    <script src="../static/js/bootstrap.min.js"></script>

    <style>
    </style>
</head>
<body>

<div id="app">
    <div th:insert="~{navigation :: nav}"></div>

    <div class="sign-in-page" style="height: 1000px">
        <div class="sign-in-box">
            <form class="form-signin">
                <div style="text-align: center">
                    <img class="mb-4" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="72" height="72">
                </div>

                <input type="email" id="inputEmail" class="form-control" style="margin-bottom:10px" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" style="margin-bottom:10px" placeholder="Password" required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <div style="padding-top: 10px; text-align: center">
                    <p class="login-text">or you can sign in with</p>
                    <div>
                        <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=26e564beb1c07cec7706&redirect_uri=http://localhost:8080/callback&scope=user&state=1">github</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
